<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{{ asset("bundles/css/bootstrap.css") }}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{{ asset("bundles/css/font-awesome.css") }}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{{ asset("bundles/css/custom.css") }}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="navbar-cls-top">
            <a class="navbar-brand" href="#">Užduotukas</a>
        </div>
        <div class="navbar-header navbar-cls-top">

        </div>
        <div></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a  href="{{ path('projectList') }}"><i class="fa fa-code fa-3x"></i> Projects</a>
                </li>
                <li>
                    <a  href="{{ path('taskList') }}"><i class="fa fa-tasks fa-3x"></i> Your tasks</a>
                </li>
                <li  >
                    <a  href="{{ path('help') }}"><i class="fa fa-book fa-3x"></i> Help </a>
                </li>
                <li  >
                    <a  href="{{ path('profile') }}"><i class="fa fa-user fa-3x"></i> User</a>
                </li>
                <li  >
                    <a  href="{{ path('logout') }}"><i class="fa fa-arrow-left fa-3x"></i> Logout </a>
                </li>

            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    {% block body %} {% endblock %}

                </div>
            </div>
            <!-- /. ROW  -->
            <hr />

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
</body>
</html>
