<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{{ asset("bundles/css/bootstrap.css") }}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{{ asset("bundles/css/font-awesome.css") }}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{{ asset("bundles/css/custom.css") }}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>

<div class="login-wrapper">
    <div id="wrap">
        <div class="helper"></div>
        <div id="regbar">
            <div id="navthing">
                {% if error %}
                    <div class="index-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% for flashMessage in app.session.flashbag.get('notice') %}

                    <div class="index-error">
                        {{ flashMessage }}
                    </div>

                {% endfor %}
                <h2><a href="#" id="loginform">Login</a> | <a href="#" id="registerform">Register</a></h2>
                <div class="login">
                    <div class="arrow-up"></div>
                    <div class="formholder">
                        <div class="randompad">
                            <fieldset>
                                <form class="form-signin" action="{{path('index')}}"	method="post">
                                    {{ form_start(login_form) }}
                                    {{ form_widget(login_form) }}
                                    {{ form_end(login_form) }}
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="register">
                    <div class="arrow-up register-arrow"></div>
                    <div class="formholder">
                        <div class="randompad">
                            <fieldset>
                                {{ form_start(reg_form, {'action': path('process_registration')}) }}
                                {{ form_widget(reg_form) }}
                                {{ form_end(reg_form) }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset("bundles/js/jquery-1.10.2.js") }}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{{ asset("bundles/js/bootstrap.min.js") }}"></script>
<!-- METISMENU SCRIPTS -->
<script src="{{ asset("bundles/js/jquery.metisMenu.js") }}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{{ asset("bundles/js/login.js") }}"></script>
</body>
</html>