{% extends 'base.html.twig' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class='alert alert-success'>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="formholder inner-form">
        {{ form_start(form)}}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
