{% extends 'base.html.twig' %}
{% block body %}
    <div class="formholder inner-form">
        {{ form_start(task)}}
        {{ form_widget(task) }}
        {{ form_end(task) }}
    </div>
{% endblock %}