{% extends 'base.html.twig' %}

{% block body %}
        <a class="btn btn-default" href="{{ path("projectList") }}">Go to project list</a>
    <hr>
    <h2 class="page-header">
        {{ project.name }}
    </h2>
    <ul class="list-group">
        <li class="list-group-item">Description: {{ project.description }}</li>
        <li class="list-group-item">Start date: <strong>{{ project.startDate|date('F j, Y,g:i a') }}</strong></li>
        <li class="list-group-item">Finish date: <strong>{{ project.finishDate|date('F j, Y,g:i a') }}</strong></li>
        <li class="list-group-item">Client name: {{ project.clientName }}</li>
        <li class="list-group-item">Members:
        {%  for member in members %}
            {{ member.name }},
        {% endfor %}
        {%  for admin in admins %}
            {{ admin.username }},
        {% endfor %}
        </li>
        <li class="list-group-item">Client contacts: {{ project.clientContacts }}</li>
    </ul>

    <h3>Select users to add to project:</h3>
    <ul class="list-group">

        {% for user in users %}
            <li class="list-group-item">{{ user.username }} </li>
            <a href="{{ path('addUserAsMember', {'id': project.id, 'userId': user.id,'as':'member'}) }}" class="btn btn-success">Add as Member</a>
            <a href="{{ path('addUserAsMember', {'id': project.id, 'userId': user.id,'as':'admin'}) }}" class="btn btn-success">Add as Admin</a>
        {% endfor %}

    </ul>



{% endblock %}
