{% extends 'base.html.twig' %}

{% block body %}
    <html>
    <body>

    <h2>Užduotukas</h2>

    <p>Ypač naudingas įmonėms, kurių darbuotojai dirba ir biure, ir už biuro ribų. Sprendimą sudaro: valdymo aplinka biuro darbuotojui kompiuterio naršyklėje</p>
    <p>Tokia Užduotukas struktūra suteikia galimybę efektyviai deleguoti ir sėkmingai vykdyti užduotis bei kontroliuoti procesą nuo pradžios iki pabaigos.</p>
    <p>Ypač naudingas įmonėms, kurių darbuotojai dirba ir biure, ir už biuro ribų. Sprendimą sudaro: valdymo aplinka biuro darbuotojui kompiuterio naršyklėje.</p>
    <p>Nauda: darbuotojų valdymas realiu laiku, užduočių koregavimas realiu laiku, darbų istorijos analizė</p>

    <h3>Meniu naudojimas</h3>
    <h4>Projects</h4>
    <p>Paspaudę Projects galėsite lengvai ir greitai sukurti savo naują projektą, prie kurio bus lengvai pridedami nariai ir užduotys.</p>
    <h4>Your tasks</h4>
    <p>Paspaudę Your tasks galėsite sukurti naują užduotį, kurią pridėsite prie vieno iš esamų projektų</p>
    <h4>Help</h4>
    <p>Paspaudę Help galėsite sužinoti Užduotukas paskirtį ir kaip juo naudotis</p>
    <h4>Logout</h4>
    <p>Paspaudę Logout greitai ir efektyviai išeisite iš Užduotukas tinklalapio į pagrindinį prisijungimo ir registracijos langą</p>
    <tr>
        <td>
            <a href="{{path('help')}}" class="btn btn-success">Page up</a>
        </td>
    </tr>

    </body>
    </html>
{% endblock %}
