{% extends 'base.html.twig' %}
{% block body %}
    <div class="formholder inner-form">
        {{ form_start(form)}}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
