{% extends 'base.html.twig' %}

{% block body %}
    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
         <div class="alert alert-{{ type }} fade in">
             {{ flash }}
         </div>
        {% endfor %}
    {% endfor %}
 <h2 class="page-header">Projects you are assigned to</h2>
 <a href="{{path('project_create')}}" class="btn btn-success">Create new project</a>
 <table class="table table-striped">
 <thead>
 <tr>
 <th>#</th>
 <th>Project Name</th> 
 <th>Due date</th>
 <th></th>
 </tr>
 </thead>
 <tbody> 
 {% for project in projects %}
 <tr>
 <th scope="row">{{project.id}}</th>
 <td>{{project.name}}</td> 
 <td>{{project.finishdate|date('F j, Y,g:i a')}}</td> 
 <td>
 <a href="{{ path('project_details', {'id': project.id}) }}" class="btn btn-success">View</a>
 <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-default">Edit</a>
  <a href="{{ path('project_quit', {'id': project.id}) }}" class="btn btn-default">Quit</a>
 <a href="{{ path('project_delete', {'id': project.id}) }}" class="btn btn-danger">Delete</a>
 </td>
 </tr> 
 {%endfor%}
 </tbody> 
 </table>
{% endblock %}
