{% extends 'base.html.twig' %}

{% block body %}

    <a class="btn btn-default" href="{{ path('taskList') }}">Go to task list</a>
    <hr>
    <h2 class="page-header">
        {{ task.name }}
    </h2>
    <ul class="list-group">
        <li class="list-group-item">Description: {{ task.description }}</li>
        <li class="list-group-item">Deadline: <strong>{{ task.deadline|date('F j, Y,g:i a') }}</strong></li>
        <li class="list-group-item">Status: {{ task.status }}</li>
        <li class="list-group-item">Project: {{ project }}</li>
        <li class="list-group-item">Members:
            {% for member in members %}
                {{ member.getUser().getUsername() }}
            {% endfor %}</li>
    </ul>
{% endblock %}