{% extends 'base.html.twig' %}

{% block body %}
    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }} fade in">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <h2 class="page-header">Task you have</h2>
    <a href="{{ path('createTask') }}" class="btn btn-success">Create new Task</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Members</th>
            <th>DeadLine</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{task.id}}</th>
                <td>{{task.name}}</td>
                <td>{{ task.getTaskMembers().count }}</td>
                <td>{{task.deadline|date('F j, Y,g:i a')}}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a href="{{ path('task_details', {'id': task.id}) }}" class="btn btn-success">View</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-default">Edit</a>
                    <a href="{{ path('quitTask', {'id': task.id}) }}"class="btn btn-default" onclick="return confirm('Are you sure?')">Quit</a>
                    <a href="{{ path('deleteTask', {'id': task.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    <br><br><br><br>
    <h3 class="page-header">Tasks to pick</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Members</th>
            <th>DeadLine</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in freeTasks %}
            <tr>
                <th scope="row">{{task.id}}</th>
                <td>{{task.name}}</td>
                <td>{{ task.getTaskMembers().count }}</td>
                <td>{{task.deadline|date('F j, Y,g:i a')}}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a href="/task/pick/{{task.id}}" class="btn btn-success">Pick</a>

                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
{% endblock %}
